{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col col-4 col-md-auto">
    <form method="POST" action="/biographies">
      {% csrf-field %}
      <div class="input-group">

        <input type="text"
               name="content"
               class="form-control"
               value=""
               placeholder="pithy bio...">

        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            Submit
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<div style="height: 20px;">
</div>

<div class="row justify-content-md-center">
  <div class="col col-4 col-md-auto">
    <ul class="list-group">
      {% for biography in biographies %}
      <li class="list-group-item">{{ biography.content }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
