{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="/biographies">
      {% csrf-field %}
      <input type="text"
             name="content"
             value=""
             placeholder="pithy bio...">
      <input type="submit">
    </form>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-12">
    <ul>
      {% for biography in biographies %}
      <li>{{ biography }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
